/* Auth pages */

.authContainer{
    text-align: center;
    width: 500px;
    background: rgba(255,255,255,0.5);
    padding: 40px;
    border-radius: 30px;
    border: 2px solid #007bff;
    color: black;
}

.authPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(29, 236, 197, 0.8), rgba(91, 14, 214, 0.8) 100%);
}

.authInput{
    padding: 8px 14px;
    margin: 8px 0;
}

.authBtn{
    font-weight: bold;
    border-radius: 0;
    font-size: 18px;
}

.authErrMsg{
    color: red;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 15px;
}

.authLogoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 20px;
}

.authLogo{
    font-family: 'Pokemon-Solid';
    font-size: 60px;
}

.authLogoImg{
    width: auto;
    height: 120px;
}



@media (max-width: 600px){
    .authContainer{
        width: 95vw;
        padding: 40px 15px;
    }

    .authTitle{
        font-size: 30px;
        padding-bottom: 10px;
    }
    p{
        font-size: 14px;
    }

    .authLogo{
        font-size: 45px;
    }
    .authLogoImg{
        height: 80px;
    }
    .authLogoContainer{
        gap: 10px;
    }
    
}